.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post {
  border: 1px solid grey;
  margin-bottom: 5px;
}

.post-container{
  width: 450px;
}